<div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" value="<%= book.title %>" />
</div>
<div class="form-group">
    <label for="author">Author</label>
    <select class="form-control" name="author">
        <% author.forEach(author => { %>
            <% if (author.id == book.author) { %>
                <option selected label="<%= author.name %>" value="<%= author.id %>" />
            <% } else { %>
                <option label="<%= author.name %>" value="<%= author.id %>" />
            <% } %>
        <% }) %>
    </select>
</div>
<div class="form-group">
    <label for="publishDate">Publish Date</label>
    <input class="form-control" type="date" name="publishDate" value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>" />
</div>
<div class="form-group"> 
    <label for="pageCount">Page Count</label>
    <input class="form-control" type="number" name="pageCount" min="1" value="<%= book.pageCount %>" />
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description"><%= book.description %></textarea>
</div>
