<h2>Search Books</h2>
<form action="/books" method="GET">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
    <div class="form-group">
        <label for="pubAfter">Published After</label>
        <input class="form-control" type="date" name="pubAfter" value="<%= searchOptions.publishedAfter %>" />
    </div>
    <div class="form-group">
        <label for="pubBefore">Published Before</label>
        <input class="form-control" type="date" name="pubBefore" value="<%= searchOptions.publishedBefore %>" />
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<br />
<div class="card">
    <% books.forEach(book => { %>
        <h5 class="card-title"><a href="/books/<%= book.id %>"><%= book.title %></a></h5>
    <% }) %>
</div>
