<div class="card">
    <div class="card-body">
        <h3 class="card-title">Title: <%= book.title %></h3>
        <table class="table" style="width:50%">
            <tr>
                <td>Author:</td>
                <td><%= book.author.name %></td>
            </tr>
            <tr>
                <td>Publish Date:</td>
                <td><%= book.publishDate.toDateString() %></td>
            </tr>
            <tr>
                <td>Page Count:</td>
                <td><%= book.pageCount %></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><%= book.description %></td>
            </tr>
            <tr>
                <td><a class="btn btn-secondary" href="/books/<%= book.id %>/edit">Edit</a></td>
                <td><%- include('../partials/deleteForm.ejs', {url: `/books/${book.id}`}) %></td>
            </tr>
            <tr>
                <td colspan="2"><a class="btn btn-link" href="/books/<%= book.author.id %>">View Author</a></td>
            </tr>           
        </table>
    </div>
</div>
