<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" value="<%= searchOptions.name %>" />
    </div>
    
    <button class="btn btn-light" type="submit">Search</button>
</form>
<br />
<div class="card" style="width: 18rem;">
    <% authors.forEach(author => { %>
        <div class="card-body">
            <h5 class="card-title"><%= author.name %></h5>
            <a class="btn btn-primary active" role="button" aria-pressed="true" href="/authors/<%= author.id %>">View</a>
            <a class="btn btn-secondary active" role="button" aria-pressed="true" href="/authors/<%= author.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %>
        </div>
    <% }) %>
</div>
